@model Category

   <form method="post">
    <div class="border p-3 mt-4">
        <div class="row">
            <h2>Create Category</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="CategoryName">Category Name</label>
            <input asp-for="CategoryName" type="text" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Price">Category Price</label>
            <input asp-for="Price" type="number" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-outline-primary">Create</button>
    </div>
   </form>
